<div class = "container bg-light py-5">
    <h1 class="display-3 fw-bold text-center text-danger" >Welcome to Java Online Test</h1>
    <p class = "text-center fs-3">This quiz will contains total 10 questions. Each Question holds 10 Marks</p>
    <h4>Rules:</h4>
    <ol style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large">
        <li> Correct Question Score 10 Marks.</li>
        <li> Incorrect Question Score -5 Marks.</li>
        <li> Each Question need to be answered in 60 seconds.</li>
        <li> To reset the Test please refresh the page.</li>
    </ol>
    <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align:center; font-weight:bold;"> Do your best!</h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter your name: </label>
        <input #name type="text" class="form-control">
        <label for="">Enter your email address: </label>
        <input #email type="text" class="form-control">
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/questions" (click)="startTest()"> Lets start!!!</button>
</div>